In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ratings = pd.read_csv("Movie-Ratings.csv")

In [3]:
genres = pd.read_csv("Movie-Genres.csv")

In [4]:
ratings.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1.0,4.0,1.0,4.0,5.0,2.0,NaN,NaN,NaN,3.0,2.0,2.0,1.0,NaN,0.0,NaN,NaN,0.0,2.0,2.0
1,NaN,NaN,1.0,NaN,5.0,0.0,1.0,3.0,1.0,3.0,NaN,3.0,NaN,3.0,NaN,1.0,NaN,NaN,3.0,NaN
2,0.0,NaN,NaN,NaN,5.0,NaN,3.0,2.0,2.0,2.0,NaN,4.0,3.0,NaN,3.0,NaN,3.0,NaN,3.0,3.0
3,0.0,2.0,1.0,1.0,5.0,2.0,3.0,2.0,3.0,NaN,5.0,NaN,2.0,3.0,3.0,NaN,2.0,1.0,NaN,3.0
4,NaN,0.0,NaN,0.0,4.0,1.0,NaN,2.0,4.0,NaN,5.0,4.0,4.0,NaN,5.0,4.0,NaN,3.0,NaN,3.0

In [5]:
genres.head()

   Romance  Action  Fantasy
0      0.5     0.6      0.2
1      0.7     0.4      0.4
2      0.7     0.5      0.6
3      0.8     0.6      0.6
4      0.7     0.6      0.7

In [6]:
ratings.shape

(60, 20)

In [7]:
genres.shape

(60, 3)

In [10]:
ratings["16"].isnull().mean() # izlenmemiş film yüzdesi

0.43333333333333335

In [12]:
ratings["16"].isnull().sum()

26

In [13]:
y_user = ratings["16"]

In [14]:
y = y_user[y_user.notnull()]

In [17]:
y_test = y_user[y_user.isnull()]

In [15]:
X = genres.loc[y.index]

In [40]:
X_test = genres.loc[y_test.index]

In [27]:
X["k"] = 1

$$y=X\theta$$
$$X^T y = X^T X \theta$$
$$(X^T X)^{-1} X^T y = (X^T X)^{-1} X^T X \theta$$
$$(X^T X)^{-1} X^T y = \theta$$

In [28]:
theta = np.linalg.inv(X.T @ X) @ X.T @ y

In [29]:
theta

0   -2.554183
1   -4.265252
2    0.765577
3    6.364763
dtype: float64

## Hata Hesaplama

In [32]:
theta.values.reshape(4,1)

array([[-2.55418324],
       [-4.2652515 ],
       [ 0.76557725],
       [ 6.36476274]])

In [35]:
y_pred = X @ theta.values.reshape(4,1)

In [39]:
y - y_pred[0]

2     0.096445
3    -0.221612
8    -0.140982
9     0.267552
11   -0.605988
13   -0.127062
17    1.446412
18   -0.973947
19    0.261386
20    0.190994
22   -0.127062
23   -0.623980
24    0.369855
26    0.114436
30    0.344109
31    0.235641
32   -1.291599
33   -0.822925
34    0.344109
35    0.657184
37    0.420667
38    0.106683
40   -0.247357
43   -0.221612
45   -1.305923
48    0.267552
49    0.036291
51   -0.616226
53   -0.579333
54    0.406748
55    0.173003
56    1.026053
57    1.841027
58   -0.700537
dtype: float64

In [41]:
X_test["k"] = 1

In [43]:
X_test @ theta.values.reshape(4,1)

           0
0   2.681636
1   3.176965
4   2.553588
5   3.312089
6   1.948202
7   2.477030
10  1.077160
12  2.740202
14  2.068496
15  3.833163
16  1.795086
21  2.809006
25  2.980113
27  3.414392
28  1.470864
29  1.623980
36  2.553588
39  1.784849
41  4.770525
42  2.885564
44  2.382481
46  3.585499
47  2.791015
50  2.553588
52  3.575261
59  2.732448

In [51]:
(X_test @ theta.values.reshape(4,1)).idxmax() # Tavsiye edilmesi beklenen

0    41
dtype: int64

## Tavsiye Edilmesi Gereken Filmler

In [52]:
(X_test @ theta.values.reshape(4,1)).sort_values(by=0, ascending=False)

           0
41  4.770525
15  3.833163
46  3.585499
52  3.575261
27  3.414392
5   3.312089
1   3.176965
25  2.980113
42  2.885564
21  2.809006
47  2.791015
12  2.740202
59  2.732448
0   2.681636
36  2.553588
50  2.553588
4   2.553588
7   2.477030
44  2.382481
14  2.068496
6   1.948202
16  1.795086
39  1.784849
29  1.623980
28  1.470864
10  1.077160